{% extends "base.html" %}
{% block content %}
<h1>{{ test.title }}</h1>
<form action="" method="post">
    {% for i in range(questions|length) %}
        {% set question = questions[i] %}
        <div class="col-md6 border rounded">
            <h2>{{ i+1 }}. {{ question.title }}</h2>
            <input type="radio" name="{{ i }}" value="1">{{ question.answer_a }}<br>
            <input type="radio" name="{{ i }}" value="2">{{ question.answer_b }}<br>
            <input type="radio" name="{{ i }}" value="3">{{ question.answer_c }}<br>
            <input type="radio" name="{{ i }}" value="4">{{ question.answer_d }}
        </div><br>
    {% endfor %}
    <p>
        <input type="submit" name="submit" value="Завершить прохождение теста" class="btn btn-primary">
    </p>
</form>
{% endblock %}